.colorcuadro{
background-color: #59A7A9;
margin-top: 5%;
margin-bottom: 15%;
}

.colorblanco{
    background-color:white;
    border-radius: 25px;
    margin: 0 auto;
    height:100%;
 }

 .btn-redo{
    border-radius: 10px;
  }
  .colorpantalla{
    background-color:white;
  }
