* {
  margin:0 px;
  padding:0 px;
}

.contenido_derecha{
  margin: 5%;
}

.izquierda{

  display:flex;
  justify-content: center;

  height: 100vh;
  width: 50%;
  margin-left: 500px;
}

.derecha{
 background:#98D3D4 ;
 background-size: cover;
 background-position: center;
 width: 50%;
 height: auto;

}

.btn-redo{
  border-radius: 10px;
}

.parrafo{
  text-align: justify;
  margin: 2%;
}

#pantalla{
  display:flex;
  justify-content: space-between;
}

.cuadricula{

  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.proyectos{
  text-align: center;
}

.item{
  border-radius: 5%;
  margin-top: 1%;
  background: white;
  color: gray;
  flex:none;
  width: calc((100% - 3% )/ 3);
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
/*.icono{
  border-left: 10px;
  border-radius: 50%;
  border:10px solid #666;

}*/

.ImgRedonda{
  border: black 1px solid;
  border-radius: 50%;
  margin-left: 40%;
  height: 75%;
  width: 75%;
}

.item p{
  text-align: center;
}

.scroll {
  display: block;
  border: 0px solid red;
  padding: 5px;
  margin-top: 5px;
  width: 100%;
  height: 400px;
  overflow-y: scroll;
}

/*-----------------------------------------------Estilos Modales------------------------------------------*/

/*--------------------------------------------------Eliminar----------------------------------------------*/
.botones ul li{
  padding:2%;
  display: flex;
  margin-left: 50%;
  justify-content: center;
  align-items: center;
}
.modal-footer{
  display: flex;
  justify-content: space-between;
}
.Texto_Buscar{
  display: flex;
  justify-content: space-between;
}
.form-control{
  background-color: #37A1F4;
  border-radius: 20px;
  color:#fff;
}
.Buscar{
  display:flex;
  justify-content: space-between;
}
.Eliminar_Boton{

  margin-left: 50%;
  transform: translateX(-50%);
}
/*--------------------------------------------------Editar-----------------------------------------------*/


/*--------------------------------------------------Agregar----------------------------------------------*/

.modal_imagen{
  border: black 1px solid;
}
.imagen_cortos{
  border-radius: 50%;
  width: 30%;
  height: 30%;
  margin-left: 50%;
  transform: translateX(-50%);
}


#boton_agregar{
  margin-left: 50%;
  transform: translateX(-50%);
}

.modal-content{
  border-radius: 5%;
}
