.colorcuadro{
    background-color: #59A7A9;
}

.colorblanco{

 background-color:white;
 border-radius: 25px;
 margin: 0 auto;

}




.btn-redo{
    border-radius: 10px;
  }

.fondoblanco{
  background-color:white;
}
