
<div class="fondoblanco">
    <div *ngIf="registroInvalido" class="container">
        <div class="row  mx-auto d-flex justify-content-center ">
          <div class="col-4 d-flex justify-content-center mt-5">
            <h1>Registro Invalido </h1>
          </div>
        </div>
        <div class="row d-flex justify-content-center mb-5 mt-5">
            <button (click)="redireccionar()" type="button" class="btn btn-primary col-2 mx-5 mb-5 btn-redo">Volver al Registro</button>
        </div>
    
     </div>

    <div *ngIf="!registroInvalido" class="container">
        <div class="row">
            <div class="col-12 mx-auto mt-5">
                <div class="card colorcuadro mb-3">
                    <div class="card-body">
                        <h1 class="text-center">Registro</h1>
                        <form  (ngSubmit)="onRegisNuevo()" [formGroup]="registerForm">

                            <div class="form-group colorblanco d-flex justify-content-center mt-5 col-8">
                                <input  class="form-control form-control-lg col-11" formControlName="email"
                                placeholder="Correo" [class]="isValidField('email')">
                        
                            </div>

                            <div class="form-group colorblanco d-flex justify-content-center mt-5 col-8">
                                <input type="text" class="form-control form-control-lg col-11" formControlName="name"
                                placeholder="Nombre" [class]="isValidField('name')">
                            </div>

                            <div class="form-group colorblanco d-flex justify-content-center mt-5 col-8">
                              <input type="text" class="form-control form-control-lg col-11" formControlName="apellido"
                                placeholder="Apellido" [class]="isValidField('apellido')">
                            </div>

                            <div class="form-group colorblanco d-flex justify-content-center mt-5 col-8">
                                <input type="text" class= "form-control form-control-lg col-11" formControlName="nombreusuario"
                                placeholder="Username" [class]="isValidField('nombreusuario')">
                            </div>

                            <div class="form-group colorblanco d-flex justify-content-center mt-5 col-8">
                                <input class="form-control form-control-lg col-11" formControlName="password"
                                placeholder="Contraseña (Minimo 6 caracteres)" [class]="isValidField('password')">
                            </div>

                            <div class="row d-flex justify-content-center mb-5 mt-5">
                                <button  type= "submit" class="btn btn-primary col-2 mx-5 btn-redo" >Registarse</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
