<div *ngIf="cargando" class="container mx-auto d-flex justify-content-center mt-5">
  <div class="row">
    <div class="col-12">
      <h1>CARGANDO..... </h1>
    </div>
  </div>
</div>

<section *ngIf="!cargando" id="pantalla">

  <div class="izquierdo">
    <div class="icono mt-5">
      <img  src="../../../assets/promagramacion.png" alt="" class="ImgRedonda">
    </div>
    <div class="botones">
      <ul >
        <li *ngIf="validar"><button  type="button" class="btn btn-primary mt-3 btn-redo" data-toggle="modal" data-target="#myModal">Editar</button></li>

        <div class="modal fade" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Editar Ejemplo</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                <div class="modal_imagen">
                  <img  class="imagen_cortos" src="../../../assets/promagramacion.png" alt="">
                </div>
                <br>
                <h5 class="modal-title">Buscar ID:</h5>
                <br>
                <div class=Buscar>
                  <div class="Texto_Buscar">
                    <input type="text" class="form-control" placeholder=" id">
                  </div>
                  <div class="Boton_Buscar">
                    <button type="button" class="btn-primary">Buscar</button>
                  </div>
                </div>
                <br>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"  placeholder=" Muestra el proyecto a editar"></textarea>
              </div>


              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button"  id="boton_agregar"class="btn-primary" data-dismiss="modal">Guardar cambios</button>
              </div>

            </div>
          </div>
        </div>

        <li *ngIf="validar"><button  type="button" class="btn btn-primary mt-3 btn-redo" data-toggle="modal" data-target="#myModal2">Agregar</button></li>

        <div class="modal fade" id="myModal2">
          <div class="modal-dialog">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Agregar Ejemplo</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                <div >
                  <input type="file" id="files" name="files[]" multiple />
                  <output id="list"></output>

                  <script>
                    function handleFileSelect(evt) {
                      var files = evt.target.files; // FileList object

                      // files is a FileList of File objects. List some properties.
                      var output = [];
                      for (var i = 0, f; f = files[i]; i++) {
                        output.push('<li><strong>', escape(f.name), '</strong> (', f.type || 'n/a', ') - ',
                                    f.size, ' bytes, last modified: ',
                                    f.lastModifiedDate.toLocaleDateString(), '</li>');
                      }
                      document.getElementById('list').innerHTML = '<ul>' + output.join('') + '</ul>';
                    }

                    document.getElementById('files').addEventListener('change', handleFileSelect, false);
                  </script>
                </div>
                <br>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"  placeholder=" Muestra el proyecto a editar"></textarea>
              </div>


              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button"  id="boton_agregar"class="btn-primary" data-dismiss="modal">Agregar</button>
              </div>

            </div>
          </div>
        </div>

        <li *ngIf="validar"> <button  type="button" class="btn btn-primary mt-3 btn-redo" data-toggle="modal" data-target="#myModal3">Editar ejemplo</button></li>

        <div class="modal fade" id="myModal3">
          <div class="modal-dialog">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Editar Ejemplo</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                <h5 class="modal-title">Buscar ID:</h5>
                <br>
                <div class=Buscar>
                  <div class="Texto_Buscar">
                    <input type="text" class="form-control" placeholder=" id">
                  </div>
                  <div class="Boton_Buscar">
                    <button type="button" class="btn-primary">Buscar</button>
                  </div>
                </div>

                <br>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"  placeholder=" Muestra el proyecto a eliminar"></textarea>


              </div>


              <!-- Modal footer -->
              <div class="modal-footer">
                <div class="Eliminar_Boton">
                  <button type="button" class="btn-primary" id="eliminar" data-dismiss="modal">Editar</button>
                  <button type="button" class="btn-primary" id="editar" data-dismiss="modal">Eliminar</button>
                </div>

              </div>

            </div>
          </div>
        </div>
      </ul>
    </div>
  </div>

  <div class="derecha">
    <div class="contenido_derecha">
      <h1>Programación</h1>
      <p class="parrafo"> {{descripcion_Seccion}} </p>
      <br>
      <h3>Proyectos</h3>
      <br>
      <div class="scroll">
        <div class="cuadricula">
          <div class="item">1</div>
          <div class="item">2</div>
          <div class="item">3</div>
          <div class="item">4</div>
          <div class="item">5</div>
          <div class="item">6</div>
          <div class="item">7</div>
          <div class="item">8</div>
          <div class="item">9</div>
        </div>
      </div>
    </div>

  </div>

</section>





