* {
  margin:0 px;
  padding:0 px;
}

.contenido_derecha{
  margin: 5%;
}

.izquierda{

  display:flex;
  justify-content: center;

  height: 100vh;
  width: 50%;
  margin-left: 500px;
}

.derecha{
 background:#98D3D4 ;
 background-size: cover;
 background-position: center;
 width: 50%;
 height: auto;

}

.btn-redo{
  border-radius: 10px;
}

.parrafo{
  text-align: justify;
  margin: 2%;
}

#pantalla{
  display:flex;
  justify-content: space-between;
  font-family: 'Poppins bold', sans-serif;
}

.cuadricula{

  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.proyectos{
  text-align: center;
}

.item{
  border-radius: 5%;
  margin-top: 1%;
  background: white;
  color: gray;
  flex:none;
  width: calc((100% - 3% )/ 3);
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
/*.icono{
  border-left: 10px;
  border-radius: 50%;
  border:10px solid #666;

}*/

.ImgRedonda{
  margin-left: 40%;
  height: 65%;
  width: 65%;
}

.item p{
  text-align: center;
}
.scroll {
  display: block;
  border: 0px solid red;
  padding: 5px;
  margin-top: 5px;
  width: 100%;
  height: 400px;
  overflow-y: scroll;
}

/*-----------------------------------------------Estilos Modales------------------------------------------*/

/*--------------------------------------------------Eliminar----------------------------------------------*/
.botones ul li{
  padding:2%;
  display: flex;
  margin-left: 50%;
  justify-content: center;
  align-items: center;
}
.modal-footer{
  display: flex;
  justify-content: space-between;
}
.Texto_Buscar{
  display: flex;
  justify-content: space-between;
}
.form-control{
  background-color: rgba(0,0,0,0.5);
  border-radius: 20px;
  color:#fff;
}
.Buscar{
  display:flex;
  justify-content: space-between;
}
.Eliminar_Boton{
  display: flex;
  justify-content: space-between;
}

#eliminar{
  margin-left: 120%;
  transform: translateX(-120%);
}

#editar{
  margin-left: 80%;
}
.modal-content{
 background-color: #5679a6;
}
/*--------------------------------------------------Editar-----------------------------------------------*/


/*--------------------------------------------------Agregar----------------------------------------------*/

.modal_imagen{
  border: black 1px solid;
}
.imagen_cortos{
  border-radius: 50%;
  width: 30%;
  height: 30%;
  margin-left: 50%;
  transform: translateX(-50%);
}


#boton_agregar{
  margin-left: 50%;
  transform: translateX(-50%);
}

.modal-content{
  border-radius: 5%;
}
/*--------------------------------------------------Responsive----------------------------------------------*/
/* Extra small devices (phones, 600px and down)*/
@media only screen and (max-width: 600px) {
  .ImgRedonda{
    margin-left: 30%;
    height: 50%;
    width: 50%;
  }
  
  .item{
    border-radius: 5%;
    margin-top: 1%;
    background: white;
    color: gray;
    flex:none;
    width: calc((100% - 3% )/ 1);
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .botones ul li{
    padding:2%;
    display: flex;
    margin-left: 5%;
    justify-content: center;
    align-items: center;
  }
  .derecha{
    background:#98D3D4 ;
    background-size: cover;
    background-position: center;
    width: 70%;
    height: auto;
   
   }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .ImgRedonda{
    margin-left: 30%;
    height: 50%;
    width: 50%;
  }
  
  .item{
    border-radius: 5%;
    margin-top: 1%;
    background: white;
    color: gray;
    flex:none;
    width: calc((100% - 3% )/ 1);
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .botones ul li{
    padding:2%;
    display: flex;
    margin-left: 5%;
    justify-content: center;
    align-items: center;
  }
  .derecha{
    background:#98D3D4 ;
    background-size: cover;
    background-position: center;
    width: 70%;
    height: auto;
   
   }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .ImgRedonda{
    margin-left: 30%;
    height: 50%;
    width: 50%;
  }
  
  .item{
    border-radius: 5%;
    margin-top: 1%;
    background: white;
    color: gray;
    flex:none;
    width: calc((100% - 3% )/ 2);
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .botones ul li{
    padding:2%;
    display: flex;
    margin-left: 5%;
    justify-content: center;
    align-items: center;
  }
  .derecha{
    background:#98D3D4 ;
    background-size: cover;
    background-position: center;
    width: 70%;
    height: auto;
   
   }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px )and (max-width: 1199px){
  .ImgRedonda{
    margin-left: 30%;
    height: 60%;
    width: 60%;
  }
  
  .item{
    border-radius: 5%;
    margin-top: 1%;
    background: white;
    color: gray;
    flex:none;
    width: calc((100% - 3% )/ 3);
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .botones ul li{
    padding:2%;
    display: flex;
    margin-left: 25%;
    justify-content: center;
    align-items: center;
  }
  .derecha{
    background:#98D3D4 ;
    background-size: cover;
    background-position: center;
    width: 50%;
    height: auto;
   
   }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px)and (max-width: 1439px) {
  .ImgRedonda{
    margin-left: 40%;
    height: 60%;
    width: 60%;
  }
  
  .item{
    border-radius: 5%;
    margin-top: 1%;
    background: white;
    color: gray;
    flex:none;
    width: calc((100% - 3% )/ 3);
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .botones ul li{
    padding:2%;
    display: flex;
    margin-left: 45%;
    justify-content: center;
    align-items: center;
  }
  .derecha{
    background:#98D3D4 ;
    background-size: cover;
    background-position: center;
    width: 50%;
    height: auto;
   
   }
  
}

/* Extra Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1440px) {
  
}

