<div *ngIf="cargando" class="container mx-auto d-flex justify-content-center mt-5">
  <div class="row">
    <div class="col-12">
      <h1>CARGANDO..... </h1>
    </div>
  </div>
</div>

<div *ngIf ="!block && !cargando"  class="pagprin">
  <div class="todo">
  <h1 class="Titulo">Multi-Foro</h1>
  <div class="encabezado_foro">
    <!-- Nav tabs -->
    <div class="categorias">
      <ul class="nav nav-tabs">
        <li class="categoria">
          <a class="nav-link active" data-toggle="tab" href="#Cortos-guiones">
            <svg viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-vector-pen" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M10.646.646a.5.5 0 0 1 .708 0l4 4a.5.5 0 0 1 0 .708l-1.902 1.902-.829 3.313a1.5 1.5 0 0 1-1.024 1.073L1.254 14.746 4.358 4.4A1.5 1.5 0 0 1 5.43 3.377l3.313-.828L10.646.646zm-1.8 2.908l-3.173.793a.5.5 0 0 0-.358.342l-2.57 8.565 8.567-2.57a.5.5 0 0 0 .34-.357l.794-3.174-3.6-3.6z"/>
              <path fill-rule="evenodd" d="M2.832 13.228L8 9a1 1 0 1 0-1-1l-4.228 5.168-.026.086.086-.026z"/>
            </svg>
            <br>
            Cortos y Guiones
          </a>
        </li>
        <li class="categoria">
          <a class="nav-link" data-toggle="tab" href="#Animacion2D-3D">
            <svg viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-camera-reels" viewBox="0 0 16 16">
              <path d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM1 3a2 2 0 1 0 4 0 2 2 0 0 0-4 0z"/>
              <path d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h7zm6 8.73V7.27l-3.5 1.555v4.35l3.5 1.556zM1 8v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1z"/>
              <path d="M9 6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM7 3a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
            </svg>
            <br>
            Animacion 2D y 3D
          </a>
        </li>
        <li class="categoria">
          <a class="nav-link" data-toggle="tab" href="#AudioVideo">
            <svg viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-caret-right-square" viewBox="0 0 16 16">
              <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
              <path d="M5.795 12.456A.5.5 0 0 1 5.5 12V4a.5.5 0 0 1 .832-.374l4.5 4a.5.5 0 0 1 0 .748l-4.5 4a.5.5 0 0 1-.537.082z"/>
            </svg>
            <br>
            Audio y Video
          </a>
        </li>
        <li class="categoria">
          <a class="nav-link" data-toggle="tab" href="#Aplicaciones-Entornosvirtuales">
            <svg viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-tablet" viewBox="0 0 16 16">
              <path d="M12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z"/>
              <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
            </svg>
            <br>
            Aplicaciones y <br> Entornos virtuales
          </a>
        </li>
        <li class="categoria">
          <a class="nav-link" data-toggle="tab" href="#Programacion">
            <svg viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-display" viewBox="0 0 16 16">
              <path d="M0 4s0-2 2-2h12s2 0 2 2v6s0 2-2 2h-4c0 .667.083 1.167.25 1.5H11a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1h.75c.167-.333.25-.833.25-1.5H2s-2 0-2-2V4zm1.398-.855a.758.758 0 0 0-.254.302A1.46 1.46 0 0 0 1 4.01V10c0 .325.078.502.145.602.07.105.17.188.302.254a1.464 1.464 0 0 0 .538.143L2.01 11H14c.325 0 .502-.078.602-.145a.758.758 0 0 0 .254-.302 1.464 1.464 0 0 0 .143-.538L15 9.99V4c0-.325-.078-.502-.145-.602a.757.757 0 0 0-.302-.254A1.46 1.46 0 0 0 13.99 3H2c-.325 0-.502.078-.602.145z"/>
            </svg>
            <br>
            Programación
          </a>
        </li>
      </ul>
    </div>
  </div>
  </div>
  <!-- Hacer Pregunta -->
  <!-- Hacer Pregunta -->
  <div class="boton_preguntar">
    <button type="button" class="btn btn-azul  " data-toggle="modal" data-target="#myModal">Preguntar</button>
  </div>
  <!-- Tab panes -->
  <div class="modal fade fondo-ng" id="myModal">
    <div class="modal-dialog row col-12">
      <div class="modal-content  color-modales">
        <!-- Modal Header -->
        <div class="modal-header">
          <h3 class="modal-title txt-blanco">Agregar Pregunta</h3>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <form (ngSubmit)="agregarPregunta()" [formGroup]="preguntaForm">
            <div class="form-group">
              <textarea class="fondo-ng txt-blanco" name="comentarios" formControlName="pregunta" required placeholder=" Haz tu comentario!" cols="65" ></textarea>
            </div>
          </form>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer mt-2 d-flex justify-content-around mt-2">
            <form (ngSubmit)="agregarPregunta()" [formGroup]="preguntaForm"> 
              <label class ="txt-blanco"for="seccion">Eliga una seccion:</label>
              <select  name="seccion" formControlName="seccion" class="custom-select color-modales txt-blanco">
                <option value="guiones">Cortos y Guiones</option>
                <option value="animacion">Animacion 2D y 3D</option>
                <option value="audio">Audio y Video</option>
                <option value="virtual">Aplicacion y Entornos Virtuales</option>
                <option value="programacion">Programacion</option>
              </select>
            </form>
            <form (ngSubmit)="agregarPregunta()" [formGroup]="preguntaForm">
              <button type="submit" class="btn fondo-blanco" ><span class="txt-btn">Publicar</span></button>
            </form>
        </div>      

      </div>
    </div>
  </div>

  <div class="tab-content">
    <div id="Cortos-guiones" class="container tab-pane active">
      <br>
      <div *ngFor= "let item of preguntasGuiones$ | async; let i = index"  class="contenedor-pregunta mb-5 row col-12" data-toggle="tab" href="#home">
        <div  class="container">
          <div class="row col-12">
            <div class="col-10 d-flex justify-content-start">
              <div class="margin_pregunta">
                <p class="pregunta" >{{item.pregunta}}</p>
              </div>
            </div>
            <div class="col-2 ">
              <div class="Botones_pregunta1 d-flex justify-content-start">
                <div *ngIf="item.usuario === nom_usua">
                  <!-- Boton Editar Pregunta -->
                  <button  type="button" class="btn btn-primary  btn-redo" data-toggle="modal"  [attr.data-target]="'#editarQ'+ item.id">Editar</button>
                  <div class="modal fade fondo-ng" id="editarQ{{item.id}}" >
                    <div class="modal-dialog">
                      <div class="modal-content color-modales">
                        <!-- Modal Header -->
                        <div class="modal-header">
                          <h3 class="modal-title txt-blanco">Editar pregunta</h3>
                          <button type="button" class="close" data-dismiss="modal">×</button>
                        </div>
                        <!-- Modal body -->
                        <div class="modal-body">
                          <!--<form  (ngSubmit)="editarPreguntaPropia(item.id)" [formGroup]="preguntaForm"> 
                            <div class="form-group form-control">
                              <textarea class=" fondo-ng txt-blanco"name="comentarios" required placeholder="Edita tu pregunta" formControlName="pregunta" cols="65" >{{item.pregunta}} </textarea>
                            </div>
                          </form>-->
                          <textarea class="fondo-ng txt-blanco" name="item.usuario{{i}}" required placeholder="Haz tu respuesta!" cols="65" [(ngModel)]=" preguntaEditar" > </textarea>
                        </div>
                        <!-- Modal footer -->
                        <div class="modal-footer d-flex justify-content-around">
                          <div class="Agregar_Boton d-flex justify-content-around">
                            <button (click)="editarPreguntaPropia(item.id,item.seccion)" class="btn fondo-blanco " data-dismiss="modal"><span class="txt-btn">Editar</span></button>
                            <button (click)="eliminarPreg_Propia(item.id)" type="button" class="btn fondo-blanco" data-dismiss="modal"> <span class="txt-btn">Eliminar</span></button>
                            <!--<form  (ngSubmit)="editarPreguntaPropia(item.id)" [formGroup]="preguntaForm">
                            <button type="submit" class="btn fondo-blanco"> <span class="txt-btn">Editar</span></button>
                            <button (click)="eliminarPreg_Propia(item.id)" type="button" class="btn fondo-blanco" data-dismiss="modal"> <span class="txt-btn">Eliminar</span></button>
                           </form>-->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="validar && item.usuario != nom_usua"  >
                  <button (click)="adminElim_Pregunta(item.id)" type="button" class="btn btn-primary">Eliminar</button>
                </div>
                <div *ngIf="!validar && item.usuario != nom_usua" >
                  <button (click)="reportarUsuario(item.usuario)" type="button" class="btn btn-primary">Reportar</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="footer_pregunta container">
          <div class="row col-12"> 
            <div class="col-4 d-flex justify-content-start" >{{item.usuario}}</div>
            <div class="col-4 d-flex justify-content-center"><button (click)="abrirRespuestas(item.id)"class="btn btn-primary" data-toggle="collapse"  [attr.data-target]="'#demo'+ item.id">Respuestas</button></div>
            <div class="col-4 d-flex justify-content-end">{{item.Fecha}}</div>
         </div>
        </div>
        
        <div  id="demo{{item.id}}" class="collapse row col-12">
          <div class="scroll">
            <div  class="respuestas col-12">
              <div  *ngFor="let data of respuestas$ | async" class="container">
                <div class="row">
                  <div class="col-10 ">
                    <div class="card">
                      <div class="texto_respuesta">
                        <p>{{data.respuesta}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-2 ">
                    <div class="botones_pregunta">
                      <div *ngIf="!validar && data.usuario != nom_usua" class="mb-2">
                        <!-- No es admin-->
                        <button (click)="reportarUsuario(data.usuario)" type="button" class="btn btn-primary mb-2">Reportar</button>
                      </div>
                      <div *ngIf="validar && data.usuario != nom_usua " class="mb-2" >
                        <!-- es admin pero no es pregunta propia-->
                        <button (click)="adminElim_Respuesta(data.id)" type="button" class="btn btn-primary mb-2">Eliminar</button>
                      </div>
                      <!-- Boton Editar respuesta -->
                      <div *ngIf="data.usuario === nom_usua">
                        <!-- pregunta es propia-->
                        <button  type="button" class="btn btn-primary mt-3 btn-redo" data-toggle="modal"  [attr.data-target]="'#editarR'+ data.id + item.id">Editar</button>
                        <div class="modal fade fondo-ng" id="editarR{{data.id}}{{item.id}}">
                          <div class="modal-dialog">
                            <div class="modal-content color-modales">
                              <!-- Modal Header -->
                              <div class="modal-header">
                                <h3 class="modal-title txt-blanco">Editar Respuesta</h3>
                                <button type="button" class="close" data-dismiss="modal">×</button>
                              </div>
                              <!-- Modal body -->
                              <div class="modal-body">
                                <!--<form>
                                  <div class="form-group">
                                    <textarea class="fondo-ng txt-blanco"name="comentarios" required placeholder=" Haz tu comentario!" cols="65" [(ngModel)]=" preguntaEditar" > </textarea>
                                  </div>
                                </form>-->
                                <textarea class="fondo-ng txt-blanco"name="comentarios" required placeholder=" Haz tu comentario!" cols="65" [(ngModel)]="respuestaEditar" > </textarea>
                              </div>
                              <!-- Modal footer -->
                              <div class="modal-footer">
                                <div class="Agregar_Boton">
                                  <button (click)="editarRespuestaPropia(data.id)"type="button" class="btn fondo-blanco" data-dismiss="modal"><span class="txt-btn">Editar</span></button>
                                </div>
                                <div class="Agregar_Boton">
                                  <button (click)=" eliminarResp_Propia(data.id)"type="button" class="btn fondo-blanco" data-dismiss="modal"><span class="txt-btn">Eliminar</span></button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="agregar_respuesta">
                <button  type="button" class="btn btn-primary mt-3 btn-redo" data-toggle="modal"  [attr.data-target]="'#demo1'+ item.id">Agregar Respuesta</button>
              </div>
              <div class="modal fade fondo-ng" id="demo1{{item.id}}">
                <div class="modal-dialog">
                  <div class="modal-content color-modales">
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h3 class="modal-title txt-blanco">Agregar respuesta??</h3>
                      <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                      <!-- <form (ngSubmit)="agregarRespuesta()" [formGroup]="respuestaForm">
                        <div class="form-control form-group">
                          <textarea [(ngModel)] = "str" class="fondo-ng txt-blanco" name="item.usuario{{i}}" 
                          formControlName="respuesta" required placeholder=" Haz tu respuesta!" cols="65" value="{{item.pregunta}}" > </textarea>
                        </div>
                      </form>-->
                      <textarea class="fondo-ng txt-blanco" name="item.usuario{{i}}" required placeholder="Haz tu respuesta!" cols="65" [(ngModel)]="respuesta" > </textarea>
                      
                    </div>          
                    <!-- Modal footer -->
                    <div class="modal-footer d-flex justify-content-center">
                      <button (click)="agregarRespuesta(item.id)" class="btn fondo-blanco mt-2" data-dismiss="modal"><span class="txt-btn">Agregar</span></button>
                      <!--<form (ngSubmit)="agregarRespuesta()" [formGroup]="respuestaForm">
                        <div class="form-control form-group">
                          <button type="submit" (click)="Prueba()" class="btn fondo-blanco mt-2" ><span class="txt-btn">Agregar</span></button>
                        </div>
                      </form>-->
                    </div>
                  </div>
                </div>
              </div>

              <br>

            </div>
          </div>
        </div>
      </div>
      <br>
    </div>

    <!--Seccion Foro Animacion-->
    <div id="Animacion2D-3D" class="container tab-pane fade mt-3">

      <div class="contenedor-pregunta" data-toggle="tab" href="#home">
        <div class="container">
          <div class="row">
            <div class="col-10 ">
              <div class="margin_pregunta">
                <p class="pregunta" >¿Cual es el mejor software para modelado 3D?</p>
              </div>
            </div>
            <div class="col-2 ">
              <div class="Botones_pregunta1">
                <div *ngIf="own_q">
                  <!-- Boton Editar Pregunta -->
                  <button  type="button" class="btn btn-primary mt-3 btn-redo" data-toggle="modal" data-target="#Editar2">Editar</button>
                  <div class="modal fade fondo-ng" id="Editar2">
                    <div class="modal-dialog">
                      <div class="modal-content color-modales">
                        <!-- Modal Header -->
                        <div class="modal-header">
                          <h3 class="modal-title txt-blanco">Editar pregunta</h3>
                          <button type="button" class="close" data-dismiss="modal">×</button>
                        </div>
                        <!-- Modal body -->
                        <div class="modal-body">
                          <form>
                            <div class="form-group">
                              <textarea class="fondo-ng txt-blanco"name="comentarios" required placeholder=" Haz tu comentario!" cols="65" > </textarea>
                            </div>
                          </form>
                        </div>
                        <!-- Modal footer -->
                        <div class="modal-footer">
                          <div class="Agregar_Boton">
                            <button type="button" class="btn fondo-blanco" data-dismiss="modal"> <span class="txt-btn">Editar</span></button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="validar && !own_q"  >
                  <button type="button" class="btn btn-primary">Eliminar</button>
                </div>
                <div *ngIf="!validar && !own_q" >
                  <button type="button" class="btn btn-primary">Reportar</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="footer_pregunta">
          <div><input type=»text» readonly=»readonly» /></div>
          <div><button class="btn btn-primary" data-toggle="collapse" data-target="#demo">Respuestas</button></div>
          <div><input type=»text» readonly=»readonly» /></div>
        </div>
        <div id="demo" class="collapse">
          <div class="scroll">

            <div class="respuestas">
              <div class="container">
                <div class="row">
                  <div class="col-10 ">
                    <div class="card">
                      <div class="texto_respuesta">
                        <p>1. Este software de guion, Final Draft, fue creado por Ben Cahan y Marc Madnick en 1991 para aspirantes a guionistas que se hacían un lío con el formato, sobre todo cuando Hollywood se puso muy estricto con este tema. Y han llegado a conseguir que ahora muchos concursos de guion y productoras, especialmente en Estados Unidos, no admitan guiones que no hayan sido escritos con este software.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-2 ">
                    <div class="botones_pregunta">
                      <div *ngIf="!validar && !own_a">
                        <!-- No es admin-->
                        <button type="button" class="btn btn-primary">Reportar</button>
                      </div>
                      <div *ngIf="validar && !own_a">
                        <!-- es admin pero no es pregunta propia-->
                        <button type="button" class="btn btn-primary">Eliminar</button>
                      </div>
                      <!-- Boton Editar respuesta -->
                      <div *ngIf="own_a">
                        <!-- pregunta es propia-->
                        <button  type="button" class="btn btn-primary mt-3 btn-redo" data-toggle="modal" data-target="#Editar22">Editar</button>
                        <div class="modal fade fondo-ng" id="Editar22">
                          <div class="modal-dialog">
                            <div class="modal-content color-modales">
                              <!-- Modal Header -->
                              <div class="modal-header">
                                <h3 class="modal-title txt-blanco">Editar Respuesta</h3>
                                <button type="button" class="close" data-dismiss="modal">×</button>
                              </div>
                              <!-- Modal body -->
                              <div class="modal-body">
                                <form>
                                  <div class="form-group">
                                    <textarea class="fondo-ng txt-blanco"name="comentarios" required placeholder=" Haz tu comentario!" cols="65" > </textarea>
                                  </div>
                                </form>
                              </div>
                              <!-- Modal footer -->
                              <div class="modal-footer">
                                <div class="Agregar_Boton">
                                  <button type="button" class="btn fondo-blanco" data-dismiss="modal"><span class="txt-btn">Editar</span></button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="agregar_respuesta">
                <button  type="button" class="btn btn-primary mt-3 btn-redo" data-toggle="modal" data-target="#agregar2">Agregar Respuesta</button>
              </div>
              <div class="modal fade fondo-ng" id="agregar2">
                <div class="modal-dialog">
                  <div class="modal-content color-modales">
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h3 class="modal-title txt-blanco">Agregar respuesta</h3>
                      <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                      <form>
                        <div class="form-group">
                          <textarea name="comentarios" required placeholder=" Haz tu comentario!" cols="65" > </textarea>
                        </div>
                      </form>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <div class="Agregar_Boton">
                        <button type="button" class="btn fondo-blanco" data-dismiss="modal"><span class="txt-btn">Agregar</span></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br>

            </div>
          </div>
        </div>
      </div>
     
    </div>

    <div id="AudioVideo" class="container tab-pane fade">
      <br>

      
      <div class="contenedor-pregunta" data-toggle="tab" href="#home">
        <div class="container">
          <div class="row">
            <div class="col-10 ">
              <div class="margin_pregunta">
                <p class="pregunta" >¿Cual es el mejor formato para guardar videos largos?</p>
              </div>
            </div>
            <div class="col-2 ">
              <div class="Botones_pregunta1">
                <div *ngIf="own_q">
                  <!-- Boton Editar Pregunta -->
                  <button  type="button" class="btn btn-primary mt-3 btn-redo" data-toggle="modal" data-target="#Editar2">Editar</button>
                  <div class="modal fade fondo-ng" id="Editar2">
                    <div class="modal-dialog">
                      <div class="modal-content color-modales">
                        <!-- Modal Header -->
                        <div class="modal-header">
                          <h3 class="modal-title txt-blanco">Editar pregunta</h3>
                          <button type="button" class="close" data-dismiss="modal">×</button>
                        </div>
                        <!-- Modal body -->
                        <div class="modal-body">
                          <form>
                            <div class="form-group">
                              <textarea class="fondo-ng txt-blanco"name="comentarios" required placeholder=" Haz tu comentario!" cols="65" > </textarea>
                            </div>
                          </form>
                        </div>
                        <!-- Modal footer -->
                        <div class="modal-footer">
                          <div class="Agregar_Boton">
                            <button type="button" class="btn fondo-blanco" data-dismiss="modal"> <span class="txt-btn">Editar</span></button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="validar && !own_q"  >
                  <button type="button" class="btn btn-primary">Eliminar</button>
                </div>
                <div *ngIf="!validar && !own_q" >
                  <button type="button" class="btn btn-primary">Reportar</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="footer_pregunta">
          <div><input type=»text» readonly=»readonly» /></div>
          <div><button class="btn btn-primary" data-toggle="collapse" data-target="#demo">Respuestas</button></div>
          <div><input type=»text» readonly=»readonly» /></div>
        </div>
        <div id="demo" class="collapse">
          <div class="scroll">

            <div class="respuestas">
              <div class="container">
                <div class="row">
                  <div class="col-10 ">
                    <div class="card">
                      <div class="texto_respuesta">
                        <p>1. Este software de guion, Final Draft, fue creado por Ben Cahan y Marc Madnick en 1991 para aspirantes a guionistas que se hacían un lío con el formato, sobre todo cuando Hollywood se puso muy estricto con este tema. Y han llegado a conseguir que ahora muchos concursos de guion y productoras, especialmente en Estados Unidos, no admitan guiones que no hayan sido escritos con este software.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-2 ">
                    <div class="botones_pregunta">
                      <div *ngIf="!validar && !own_a">
                        <!-- No es admin-->
                        <button type="button" class="btn btn-primary">Reportar</button>
                      </div>
                      <div *ngIf="validar && !own_a">
                        <!-- es admin pero no es pregunta propia-->
                        <button type="button" class="btn btn-primary">Eliminar</button>
                      </div>
                      <!-- Boton Editar respuesta -->
                      <div *ngIf="own_a">
                        <!-- pregunta es propia-->
                        <button  type="button" class="btn btn-primary mt-3 btn-redo" data-toggle="modal" data-target="#Editar22">Editar</button>
                        <div class="modal fade fondo-ng" id="Editar22">
                          <div class="modal-dialog">
                            <div class="modal-content color-modales">
                              <!-- Modal Header -->
                              <div class="modal-header">
                                <h3 class="modal-title txt-blanco">Editar Respuesta</h3>
                                <button type="button" class="close" data-dismiss="modal">×</button>
                              </div>
                              <!-- Modal body -->
                              <div class="modal-body">
                                <form>
                                  <div class="form-group">
                                    <textarea class="fondo-ng txt-blanco"name="comentarios" required placeholder=" Haz tu comentario!" cols="65" > </textarea>
                                  </div>
                                </form>
                              </div>
                              <!-- Modal footer -->
                              <div class="modal-footer">
                                <div class="Agregar_Boton">
                                  <button type="button" class="btn fondo-blanco" data-dismiss="modal"><span class="txt-btn">Editar</span></button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="agregar_respuesta">
                <button  type="button" class="btn btn-primary mt-3 btn-redo" data-toggle="modal" data-target="#agregar2">Agregar Respuesta</button>
              </div>
              <div class="modal fade fondo-ng" id="agregar2">
                <div class="modal-dialog">
                  <div class="modal-content color-modales">
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h3 class="modal-title txt-blanco">Agregar respuesta</h3>
                      <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                      <form>
                        <div class="form-group">
                          <textarea name="comentarios" required placeholder=" Haz tu comentario!" cols="65" > </textarea>
                        </div>
                      </form>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <div class="Agregar_Boton">
                        <button type="button" class="btn fondo-blanco" data-dismiss="modal"><span class="txt-btn">Agregar</span></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br>

            </div>
          </div>
        </div>
      </div>
     
      


      <br>
    </div>

    <div id="Aplicaciones-Entornosvirtuales" class="container tab-pane fade">
      <br>
      
      
    </div>

    <div id="Programacion" class="container tab-pane fade">
      <br>
      
    
    </div>

  </div>

  <div *ngIf="validar" class="container mb-5 btn-usuarios">
    <div  class="row d-flex justify-content-start mb-5 mt-2">
      <a class= "btn btn-verde col-2 mx-5 btn-redo" [routerLink]="['/usuarios']">
        <p>Ver Usuarios</p>
      </a>
    </div>
  </div>
  
  
</div>

<div *ngIf="block && !cargando" class="container mx-auto d-flex justify-content-center mt-5">
  <div class="row">
    <div class="col-12">
      <h1>Un administrador te bloqueo del foro </h1>
    </div>
  </div>
</div>

