#root{
  --primary: #e23939;
  --gris-claro: #b8b8b8;
  --sombra:  0 0 13px 0 rgba(185, 185, 185, .25);
}


* {

  box-sizing: border-box;
  margin : 0;
  padding: 0;
}
.btn-primary{
  padding-left:20%;
  padding-right:20%;
  font-size: small;


}
body {
  background: #f8fafb ;
  font-family: 'Poppins', sans-serif;

}
main {
  max-width: 1000px;
  width: 90%;
  margin:40px auto;
  font-family: 'Poppins', sans-serif;
}
.todo{
  background-color: #fff;
}
.Titulo{
  color:#3a3a3a;
  background-color: #fff;
  font-weight: 700;
  text-align :center;
  margin-bottom: 2%;
  padding-top: 2%;
  font-family: 'Poppins', sans-serif
}
.boton_preguntar{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2%;
  padding-bottom: 0.5%;
}
.btn-azul{
  background-color: #007bff;
  color: white;
  font-size: medium;
  padding-left:2%;
  padding-right:2%;
}

.boton_usuarios{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-bottom: 2%;
}
.btn-verde{
  background-color: #CCCF31;
 color: #fff;
  font-size: 100%;
  padding-left:2%;
  padding-right:2%;


}



.categorias{
  display: flex;
  align-items: center;
  justify-content: center;
  column-count: 5;
  padding-bottom: 2%;

  gap: 20px;
}

.categoria{
  cursor:pointer;
  text-align:center;
  padding-right:50px;
  border-radius: 10px;
  background: #fff;
  font-weight: 700;
  color:var(--gris-claro);
  border: 2px solid transparent;
  transition: .3s ease all;
}

.categoria:hover{
  box-shadow:var(--sombra);
  color: #000;
}

.categoria:hover path{
  fill: var(--primary);
}

.categoria svg{
  width: 64px;
  margin-bottom: 10px;
}
.categoria.path{
  fill:var(--gris-claro);
  transition: .3s ease all ;
}
.categoria.activa{
  border: 2px solid var(--primary);
  color:#000;
}
.categoria.activa path{
  fill: var(--primary)
}

.pagprin{
  margin-bottom:2em;
  margin-top: 0%;
  font-family: 'Poppins', sans-serif;
}

/*-------Estilo Modales----------*/

.fondo-ng{
  background-color: rgba(0,0,0,0.5);
}

.color-modales{
  background-color: #5679a6;
}

.txt-blanco{
color:white;
}

.fondo-blanco{
  background-color: white;
}

.txt-btn{
  color:#06A8F3;
}

.fondo-transp{
  background-color: rgba(0,0,0,0.1);
}


/*-----------------------------------------Modal Nueva pregunta-----------------------------------------*/
.form-control{
  background-color: #37A1F4;
  border-radius: 20px;
  color:#fff;
}
/*-----------------------------------------contenedor de preguntas-----------------------------------------*/

.contenedor-preguntas{
  display:none;
  grid-template-columns: 1fr;
  gap: 40px ;
}

.contenedor-preguntas.activo{
  display:grid;
}

.contenedor-pregunta{
  background: #fff;
  padding: 40 px;
  border: 2px solid transparent;
  border-radius: 10px;
  overflow: hidden;
  transition: .3s ease all;
  cursor:pointer;
}

.contenedor-pregunta:hover{
  box-shadow: var(--sombra);
}

.contenedor-pregunta.activa{
  border: 2px solid var(--primary);
}
/*----------------------------------------------preguntas--------------------------------------------------*/

.pregunta{
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.respuesta{
  color:#808080;
  line-height: 30px;
  max-height: 0;
  opacity:0;
  transition: .3s ease all;
}
.pregunta svg{
  width: 50px;
}
.contenedor-pregunta.activa .respuesta{
  opacity: 1;
  margin-top: 20px;
}
.contenedor-pregunta.activa svg{
  transform: rotate(45deg);
}

.btn-usuarios{
  margin-bottom:2rem ;
  margin-left: 3.5rem;
}

/*---------------------------------------------reponsive---------------------------------------------------*/

@media screen and (max-width:820px){
  .categorias{
    grid-template-columns: 1fr 1fr;
  }
  .categoria{
    padding: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
  .categoria svg{
    width: 30px;
    margin-right: 10px;
    margin-bottom: 0;
  }
}
@media screen and (max-width:500px){
  .categorias{
    grid-template-columns: 1fr;
  }
}

.respuesta_fija{
  display:flex;
  justify-content: space-between;
  width: 90%;
  margin-left: 3%;
  margin-top: 3%;
}

.texto_respuesta{

  color: white;
  margin:2%;
}
.form-control{
  width: 1%;
  height: 1%;
}

.encabezado_foro{
  background:white;
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_pregunta{
  display: flex;
  justify-content: space-between;
  margin: 1%;
}
.botones_pregunta{
  display:flex;
  justify-content: center;
  margin-top: 25%;
}
.card{
  background-color: #37A1F4;
  border-radius: 5px;
  margin-left: 5%;
  margin-top:2%;
  margin-bottom: 2%;
  margin-right: 2%;
}
.agregar_respuesta{
  margin-left: 4.5%;
}
.modal-dialog{
 margin-top: 17%;
 margin-left: 35%;
}

.Botones_pregunta1{
  display:flex;
  justify-content: center;
  margin-top: 10%;
}
.scroll {
  display: block;
  border: 0px solid red;
  padding: 5px;
  margin-top: 5px;
  width: 100%;
  height: 200px;
  overflow-y: scroll;
}
/*-------------------------------------------ventanas emergentes-------------------------------------------*/

.modal-content{
  border-radius: 10px;
}

.modal-header{
  margin: 2%;
}
.modal-body{
  margin: 2%;
}

.modal-footer{
  margin: 2%;
}

.Agregar_Boton{
  margin-top: 2%;
  margin-right: 45%;
}
.text_area{
  margin: 2%;
}
.margin_pregunta{
  margin: 2%;
}

.tab-content{
  padding-top: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dos_botones{
  display: flex;
  justify-content: space-between;
}

#eliminar{
  margin-left: 120%;
  transform: translateX(-120%);
}

#editar{
  margin-left: 80%;
}
.dos_botoness{
  display: flex;
  justify-content: space-around;
  margin: 2%;
}
.eliminar1{
  margin-right: 120%;
  transform: translateX(-120%);
}
.editar1{
  margin-right: 80%;
}
#Ver_Usuarios{
  padding: 5%;
}
