
  <div id='slide_nav'>
    <p id="slide_nav_button">☰</p>
  </div>
  <div  id='slide_menu'>
    <ul >
      <li><a href="">Inicio</a></li>
      <li><a href="guiones">Cortos y Guiones</a></li>
      <li><a href="animacion">Animacion 2D Y 3D</a></li>
      <li><a href="audiovideo">Audio y video</a></li>
      <li><a href="aplicacion">Aplicaciones y Entornos virtuales</a></li>
      <li><a href="programacion">Programacion</a></li>
      <li><a href="foro">foro Multimedia</a></li>
    </ul>
  </div>


 <script src="menu.component.ts"></script>
