* {
  margin:0 px;
  padding:0 px;
}

#slide_nav_button{
  height: 40px;
  width: 40px;
}
#slide_nav_button:hover {
  background: #023859;
  border:5px solid #eee;
  transition: all - 0.3s;
}

#slide_menu{
  display: none;
  z-index: 2;
  position:absolute;
  width: 250px;
  height: auto;
  background: #023859;
  color:#fff;
  outline: 1px solid #023859;
}

#slide_menu ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

#slide_menu li{
  outline: 1px solid #023859;
  transition: all - 0.3s;
}

#slide_menu ul li a{
   display:block;
   color:#fff;
   text-decoration: none;
   padding: 10px;

 }

 #slide_menu ul li:hover {
   background: #023859;
   border-left:5px solid #eee;
 }

 #slide_menu ul li {
  outline :1px solid #023859
 }

 .contenido {
   width: 100%;
   height: 100%;
   position: absolute;
   background: #eee;
   padding: 30px;
 }

 #menu-bar {
   cursor:pointer;
 }

 .abrir {
   transform: translateX(250px);
 }
