<div *ngIf="cargando" class="container mx-auto d-flex justify-content-center mt-5">
  <div class="row">
    <div class="col-12">
      <h1>CARGANDO..... </h1>
    </div>
  </div>
</div>


<section *ngIf="!cargando" id="pantalla" >
  <div class="izquierdo">
    <div class="icono mt-5">
      <img  src="../../../assets/guiones2.png" alt="" class="ImgRedonda">
    </div>
    <div class="botones">
      <ul >
        <li *ngIf="validar"><button  type="button" class="btn btn-primary mt-3 btn-redo" data-toggle="modal" data-target="#myModal">Editar seccion</button></li>
        <div class="modal fade" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Editar Ejemplo</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                <br>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"  [(ngModel)]="descripcion_Seccion" ></textarea>
              </div>


              <!-- Modal footer -->
              <div class="modal-footer">
                <button  (click)="actualizarDescripcion()" type="button" id="boton_agregar"class="btn-primary" data-dismiss="modal">Guardar cambios</button>
              </div>

            </div>
          </div>
        </div>

        <li *ngIf="validar"><button  type="button" class="btn btn-primary  mt-3 btn-redo" data-toggle="modal" data-target="#myModal2">Agregar ejemplo</button></li>

        <div class="modal fade" id="myModal2">
          <div class="modal-dialog">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Agregar Ejemplo</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
              </div>

              <!-- Modal body -->
              
              <div class="modal-body">
                <textarea class="infoArchivos" id="exampleFormControlTextarea1" rows="2"  [(ngModel)]="tituloProyecto"></textarea>
                <div >
                  <div class="dropzone"
                      dropzone
                      (hovered)="toggleHover($event)"
                      (dropped)="onDrop($event)"
                      [class.hovering]="isHovering">
                      <h3>AngularFire Drop Zone</h3>
                      <p>Drag and Drop a File</p>
                  </div>

                  <h3>Uploads</h3>

                  <div *ngFor="let file of files">
                    <!--<upload-task [file]="file"></upload-task>-->
                    <button  (click)="startUpload(file)" type="button"  id="boton_agregar"class="btn-primary" >Subir Archivo</button>
                  
                    <div *ngIf="percentage | async as pct">
                      <progress [value]="pct" max="100"></progress>
                      {{ pct | number }}%
                    </div>
                    
                    
                    <div *ngIf="snapshot | async as snap">
                    
                      {{ snap.bytesTransferred }} of {{ snap.totalBytes }}
                    
                      <!--<div *ngIf="downloadURL as url">
                        <h3>Results!</h3>
                        <video [src]="url" controls="controls" auntoplay="autoplay" width="600" height="400"></video><br>
                        <a [href]="url" target="_blank" rel="noopener">Download Me!</a>
                      </div>-->
                    
                      <button (click)="task.pause()" [disabled]="!isActive(snap)">Pause</button>
                      <button (click)="task.cancel()" [disabled]="!isActive(snap)">Cancel</button>
                      <button (click)="task.resume()" [disabled]="!(snap?.state === 'paused')">Resume</button>
                    </div>
                  
                  </div>
                </div>
                <br>
      
              </div>


              <!-- Modal footer 
              <div class="modal-footer">
                <button  (click)="agregarejemplo()" type="button"  id="boton_agregar"class="btn-primary" data-dismiss="modal">Agregar</button>
              </div>-->

            </div>
          </div>
        </div>

        <li *ngIf="validar"> <button  type="button" class="btn btn-primary mt-2" data-toggle="modal" data-target="#myModal3">Editar ejemplo</button></li>

        <div class="modal fade" id="myModal3">
          <div class="modal-dialog row col-12">
            <div class="modal-content col-6">

              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Editar Seccion</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                <h5 class="modal-title">Buscar ID:</h5>
                <br>
                <div class=Buscar>
                  <div class="Texto_Buscar">
                    <input type="text" class="form-control" placeholder=" id">
                  </div>
                  <div class="Boton_Buscar">
                    <button type="button" class="btn-primary">Buscar</button>
                  </div>
                </div>

                <br>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"  placeholder=" Muestra el proyecto a eliminar"></textarea>


              </div>


              <!-- Modal footer -->
              <div * class="modal-footer">
                <div  class="Eliminar_Boton">
                  <button  type="button" class="btn-primary" id="eliminar" data-dismiss="modal">Editar</button>
                  <button  type="button" class="btn-primary" id="editar" data-dismiss="modal">Eliminar</button>
                </div>

              </div>

            </div>
          </div>
        </div>
      </ul>
    </div>
  </div>

  <div class="derecha">
    <div class="contenido_derecha">
      <h1>Cortos y Guiones</h1>
      <p class="parrafo"> {{descripcion_Seccion}}   </p>
      <br>
      <h3>Proyectos</h3>
      <br>
      <div class="scroll">
        <div  class="cuadricula">
          <div *ngFor="let file of filesGuiones | async; let i = index" class="item">
            <a (click)="goToLink(file.downloadURL)">{{file.Titulo}}</a>
            <div> {{file.tipo}}</div>
            <button type="button" class="btn btn-primary btn-sm " data-toggle="modal"  [attr.data-target]="'#demo1'+ i">Ver Formato</button>

            <div class="modal fade fondo-ng" id="demo1{{i}}">
              <div class="modal-dialog">
                <div class="modal-content color-modales">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h3 class="modal-title" class="txt-negro">{{file.Titulo}}</h3>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                  </div>
                  <!-- Modal body -->
                  <div class="modal-body">

                    <textarea class="infoArchivos mb-2" id="exampleFormControlTextarea1" rows="1"  [(ngModel)]="actualizarTitulo"></textarea>
                    <div class="txt-negro d-flex justify-content-center " *ngIf="file.tipo === 'image/jpeg'">
                      <img [src]="file.downloadURL" alt="imagen del proyecto" >
                    </div>

                    <div class="txt-negro  d-flex justify-content-center " *ngIf="file.tipo === 'text/plain'" >
                      <button (click)="goToLink(file.downloadURL)" type="button" class="btn btn-primary btn-sm " >Ver TXT</button>
                    </div>

                    <div class="txt-negro  d-flex justify-content-center" *ngIf="file.tipo === 'application/pdf'" >
                      <button (click)="goToLink(file.downloadURL)" type="button" class="btn btn-primary btn-sm " >Ver PDF</button>
                      <!--<iframe [src]="file.downloadURL" width="100%" height="500px"></iframe>-->
                    </div>

                    <div class="txt-negro d-flex justify-content-center" *ngIf="file.tipo === 'video/mp4'" >
                      <video [src]="file.downloadURL" controls="controls" ></video><br>
                    </div>

                  </div>
                  <!-- Modal footer -->
                  <div class="modal-footer d-flex justify-content-center">
                   <button *ngIf="validar" (click)="eliminarEjemplo(file.id)" type="button" class="btn btn-primary btn-sm"  data-dismiss="modal"> <span class="txt-btn">Eliminar</span></button>
                   <button *ngIf="validar" (click)="editarEjemplo(file.id)" type="button" class="btn btn-primary btn-sm"  data-dismiss="modal"> <span class="txt-btn">Editar</span></button>

                  </div>
                </div>
              </div>
            </div>



          </div>
        </div>
      </div>

    </div>

  </div>

</section>

<div class="fondonegro"></div>


