<div class="container">
    <div class="row">
        <div class="card col-12 mt-5">
            <div class="card-body">
                <form class="row">
                    <div class="form-group mt-4 col-7">
                        <input type="text" class="form-control form-control-lg col-11" aria-label="username"
                        placeholder="Username" formControlName="username">
                    </div>

                    <div class="col-2 mt-5">
                        <button  class="btn btn-primary btn-redo"> Buscar </button>
                    </div>

                </form>

                <div class="row mt-5">

                    <table class="table col-10">
                        <thead>
                          <tr>
                          <th scope="col">#</th>
                            <th scope="col">Nombre Usuario</th>
                            <th scope="col">Numero de Reportes</th>
                            <th scope="col">Bloquear</th>
                            <th scope="col"> Eliminar</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr  *ngFor= "let item of usuario$ | async">
                            <th scope="row">1</th>
                            <td>{{item.nombreusuario}} </td>
                            <td>{{item.N_report}}</td>
                            <td>  <button  class="btn btn-primary btn-sm btn-redo"> Bloquear</button> </td>
                            <td *ngIf="item.N_report>5">  <button (click)="eliminarUsuario(item.email)" class="btn btn-primary btn-sm btn-redo"> Eliminar </button> </td>
                          </tr>
                      
                        </tbody>
                    </table>

                    <script>
                      var tables = document.getElementsByTagName('table');
                      var table = tables[tables.length - 1];
                      var rows = table.rows;
                      for(var i = 0, td; i < rows.length; i++){
                          td = document.createElement('td');
                          td.appendChild(document.createTextNode(i + 1));
                          rows[i].insertBefore(td, rows[i].firstChild);
                      }
                  </script>

                   
            
                </div>

            </div>
        </div>

     

    </div>
   
</div>