<div class="container">
    <div class="row">
        <div class="card col-12 mt-5">
            <div class="card-body">
                <form class="row">
                    <div class="form-group mt-4 col-7">
                        <input type="text" class="form-control form-control-lg col-11" aria-label="username"
                        placeholder="Username" formControlName="username">
                    </div>

                    <div class="col-2 mt-5">
                        <button  class="btn btn-primary btn-redo"> Buscar </button>
                    </div>

                </form>

                <div class="row mt-5">

                    <table class="table col-10">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                            <th scope="col">Bloquear</th>
                            <th scope="col"> Eliminar</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>  <button  class="btn btn-primary btn-sm btn-redo"> Bloquear </button> </td>
                            <td>  <button  class="btn btn-primary btn-sm btn-redo"> Eliminar </button> </td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td>  <button  class="btn btn-primary btn-sm btn-redo"> Bloquear </button> </td>
                            <td>  <button  class="btn btn-primary btn-sm btn-redo"> Eliminar </button> </td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            <td>  <button  class="btn btn-primary btn-sm btn-redo"> Bloquear </button> </td>
                            <td>  <button  class="btn btn-primary btn-sm btn-redo"> Eliminar </button> </td>
                          </tr>
                          
                        </tbody>
                    </table>

                   
            
                </div>

            </div>
        </div>

     

    </div>
   
</div>