body{
  padding: 0 auto;
  margin: 0 auto;
  background-color: #54a4a5;
  background-size: cover;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media screen and (max-width:820px){
  .body{
    grid-template-columns: 1fr 1fr;
  }
  .body{
    padding: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
  }
  .body{
    width: 30px;
    margin-right: 10px;
    margin-bottom: 0;
  }
}
@media screen and (max-width:500px){
  .body{
    grid-template-columns: 1fr;
  }
}

.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 50%;
  font-weight: 200;
  height: 200px;
  border: 2px dashed #f16624;
  border-radius: 5px;
  background: white;
  margin: 10px 0;


}

progress::-webkit-progress-value {
  transition: width 0.1s ease;
}

img {
  width: 250px
}
