    <header>
    <div class="wrapper">
      <img id="logo2d" src="../../assets/2D.png">  
    </div>
    <div class="hed">
      <img [src]="imgsrc" (mouseover)="imgsrc = '../../assets/3D.gif'" (mouseout)="imgsrc = '../../assets/3D.png'">  
    </div>
  </header>
  <footer>
      <div class="mesa">
        <div class="hed1">
          <img id="logoguiones" src="../../assets/guiones2.png">  
        </div>
        <div class="hed2">
          <img id="logoaudio" src="../../assets/audio.png"> 
        </div>
        <div class="hed3">
          <img id="logoprogramacion" src="../../assets/promagramacion.png">  
        </div>
        <div class="hed4">
          <img id="logorealidad" src="../../assets/realidad.png">  
        </div>
       </div>
    </footer>
    <script>
      $(document).ready(function(){
      $("#logoguiones").hover(function(){$("#logoguiones"),
      gsap.from('#logoguiones', { duration: 2, ease: "elastic.out(2, 0.1)", y: -10 }); }, 
      function(){$("logoguiones"),
      gsap.set('logoguiones', { duration: 2, ease: "elastic.out(2, 0.1)", y: -10 });
      });});

      $(document).ready(function(){
      $("#logo2d").hover(function(){$("#logo2d"),
      gsap.from('#logo2d', { duration: 3, ease: "elastic.out(2, 0.1)", y: -10 }); }, 
      function(){$("#logo2d"),
      gsap.set('#logo2d', { duration: 3, ease: "elastic.out(2, 0.1)", y: -10 });
      });});  

      $(document).ready(function(){
      $("#logoaudio").hover(function(){$("#logoaudio"),
      gsap.from('#logoaudio', { duration: 1, ease: "elastic.out(2, 0.1)", y: -10 }); }, 
      function(){$("#logoaudio"),
      gsap.set('#logoaudio', { duration: 1, ease: "elastic.out(2, 0.1)", y: -10 });
      });});  

      $(document).ready(function(){
      $("#logoprogramacion").hover(function(){$("#logoprogramacion"),
      gsap.from('#logoprogramacion', { duration: 2, ease: "elastic.out(2, 0.1)", y: -10 }); }, 
      function(){$("#logoprogramacion"),
      gsap.set('#logoprogramacion', { duration: 2, ease: "elastic.out(2, 0.1)", y: -10 });
      });});  

      $(document).ready(function(){
      $("#logorealidad").hover(function(){$("#logorealidad"),
      gsap.from('#logorealidad', { duration: 2, ease: "elastic.out(2, 0.1)", y: -10 }); }, 
      function(){$("#logorealidad"),
      gsap.set('#logorealidad', { duration: 2, ease: "elastic.out(2, 0.1)", y: -10 });
      });});  
    </script>
