    <header>
    <div class="wrapper">
      <img id="logo2d" src="../../assets/2D.png">
    </div>
    <div class="hed">
      <img id="logo3d" [src]="imgsrc" (mouseover)="imgsrc = '../../assets/3D.gif'" (mouseout)="imgsrc = '../../assets/3D.png'">
    </div>
  </header>
  <footer>
      <div class="mesa">
        <div class="hed1">
          <img id="logoguiones" src="../../assets/guiones2.png">
        </div>
        <div class="hed2">
          <img id="logoaudio" src="../../assets/audio.png">
        </div>
        <div class="hed3">
          <img id="logoprogramacion" src="../../assets/promagramacion.png">
        </div>
        <div class="hed4">
          <img id="logorealidad" src="../../assets/realidad.png">
        </div>
       </div>
    </footer>

